@import "tailwindcss";

/* @import "locomotive-scroll/dist/locomotive-scroll.css"; */

/* html, body {
  height: 100%;
  overflow: hidden; 
} */

/* [data-scroll-container] {
  min-height: 100vh;
} */
